body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

.navbar {
    background: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0; /* Remove margin bottom */
    width: 100%; /* Make sure the navbar spans the full width */
}

.navbar a {
    color: #fff;
    text-decoration: none;
}
.welcome {
    text-align: center;
    margin-top: 50px;
    font-size: 2em;
}
